$kolor-tla:#f37446;
$kolor-font:wheat;

/* MENU */

.menu-container{
    display:flex;
    z-index: 100;
    position:absolute;
    top:-120%;
    width:100%;
    height: 100%;
    background-color:wheat;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
}



.container-menu-menu{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    padding-right:2%;
    width:50%;
    
  
    
    
}


.menu-box{
    cursor: pointer;
    
   
    
}

.menu-box:hover{
    background-color:$kolor-font;
    transition: 0.5s;
   

}


.menu-button{
    display: flex;
    justify-content: center;
    width:15px;
    height: 15px;
    border-radius: 64px;
    background-color: wheat;
    transition: 0.5s;
    
}
.menu-button-text{
    color:$kolor-font;
    transition: 0.3s;
}

.menu-button-text:hover{
    
    transition: 0.3s;
    color:$kolor-tla;
}

.menu-button:hover{
    width:20px;
    height: 20px;  
    transition: 0.4s;
    
}


.menu-container-box{
    position: relative;
    text-align: center;
    overflow: hidden;
    padding-top:10px;
}




.menu-container-box .but{
    text-decoration: none;
    list-style: none;
    font-size: 80px;
    font-weight: 900;
    color:#f37446;
    line-height: 0.8;
    text-align: center;
    
    
   

}




/* exit button */


.exit-button{
    width:50px;
    height: 50px;

}
.exit-button:hover{
    cursor: pointer;
}

.exit-button:hover .exit-one:hover {
    background-color: red;

}

.exit-button:hover .exit-two:hover{
    background-color: red; 
}


.exit-one{
    border-radius: 64px;
    height: 5px;
    transform: rotate(45deg);
    background-color: #f37446;
    position: relative;
}

.exit-two{
    border-radius: 64px;
    height: 5px;
    transform: rotate(-45deg);
    background-color: #f37446;
    margin-top:-4px;
    position: relative;
}
.menu-container-box a{
    text-decoration: none;
    color:#f37446;
    
}


.menu-container-box a:hover{
    color:#d74814;
    
}


/* MENU buttons position */

.sg{
    position: relative;
}

.info{
    position: relative;
}

.portfolio{
    position: relative;
}

.kontakt{
    position: relative;
}





@media all and (max-width:400px){
  
    .menu-container{
        top:-50px;
        height: 100%;
    }  

    .menu-container-box{
top:-20px;
        
    }

    

.menu-container-box .but{

font-size: 40px;
line-height: 1;
    }
}