
$kolor-tla:#f37446;
$kolor-font:wheat;

body{
    background-color:$kolor-tla;
    overflow: hidden;
    height: auto;
    font-family: 'Saira Extra Condensed', sans-serif;
}


/*
     
*/


.container{
    display: flex;
    justify-content: center;
    width:100%;
    height: 100%;
    overflow: hidden;
}

/* OBRAZEK TŁA */

.container-tlo{
    display: flex;
    align-items: flex-start;
    position:absolute;
    left:0;
    top:5%;
    z-index: 1;
    overflow: hidden;

}




.tlo-image{
    display: flex;
    width:90%;
   
    overflow: hidden;
}













/* GORNA BELKA */


.container-menu{
    z-index: 3;
    display: flex;
    justify-content:center;
    height: 50px;
}


/* MENU */



.container-menu-menu{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    padding-right:2%;
    width:50%;
    
  
    
    
}


.menu-box{
    cursor: pointer;
    
}
.menu-button{
    display: flex;
    justify-content: center;
    width:15px;
    height: 15px;
    border-radius: 64px;
    background-color: wheat;
    transition: 0.2s;
    
}

.menu-button:hover{
    width:20px;
    height: 20px;  
    transition: 0.4s;
    
}

/* LOGO */


.container-menu-logo{
display: flex;
justify-content: start;
align-items: center;
padding-left:2%;
width:50%;

}

.logo{
    box-sizing: border-box;
    padding-top: 5px;
    width: 90%;
}



/* SRODEK STRONY */

.container-content{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width:1366px;
    max-width: 1366px;
    height: 100%;
    z-index: 2;
    
}


/* SRODKOWY BOX Z ZAWARTOSCIĄ */
.content{
    display: flex;
    align-content: flex-end;
    align-items:flex-start;
    flex-direction: column;
    text-align: left;
    width:100%;
    line-height: 0.9;
    height: 80%;
    transition: 1s;
}

.content-box-font{
    position: relative;
}


/* -----------------------------UWAGA------------------------------ */

/* BOX Z TRESCI NA STRONIE MOZNA KONFIGUROWAĆ POLOZENIE*/

/* POŁOŻENIE BOXA Z TRESCIĄ WG RÓŻNYCH ROZDZIELCZOŚCI*/


/* szerokosc 1920px*/

@media all and (max-width:1920px){

    .content-box-font{
        padding-left: 35%;
        padding-top: 15%;
        
        transition: 1s;
        
    }

    /* właściwości fonta*/

    .content-h1{
        font-size: 80px;
        
    
    }
    
    .content-h2{  
        font-size: 30px;
        
    
    }
    
    .content-h3{ 
        font-size: 20px;
       
    
    }
}

/* -----------------------------UWAGA------------------------------ */

/* szerokosc 1366px*/

@media all and (max-width:1366px){

    .content-box-font{
        padding-left: 35%;
        padding-top: 8%;
        transition: 1s;
        
    }
    .container-tlo{
        top:0;
        overflow: hidden;
    }    

    .tlo-image{
        width:800px;
        padding-top:40px;
        margin-top:1px;
        margin-left:0px;
        overflow: hidden;
    }


}

/* -----------------------------UWAGA------------------------------ */

/* szerokosc 966px*/

@media all and (max-width:1024px){

    .content-box-font{
        padding-left: 1%;
        padding-top: 12%;
        transition: 1s;

        
    }
    .container-tlo{
        top:0;
        overflow: hidden;
    }    

    .tlo-image{
        width:800px;
        padding-top:40px;
        margin-top:1px;
        margin-left:0px;
        overflow: hidden;
    }

}

/* -----------------------------UWAGA------------------------------ */

/* szerokosc 370px*/

@media all and (max-width:400px){


    .container{
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
        overflow: hidden;
        border:solid;
    }

    .container-tlo{
        top:0;
        overflow: hidden;
        border:solid;
        z-index: 0;
        width:auto;
    }    

    .tlo-image{
       
        padding-top:40px;
        margin-top:1px;
        margin-left:0px;
        overflow: hidden;
        
    }





    .content-box-font{
        padding-left: 1%;
        padding-top: 30%;
        transition: 1s;
        width: 95%;

        
    }




  /* właściwości fonta*/

  .content-h1{
    font-size: 50px;
    

}

.content-h2{  
    font-size: 20px;
    

}

.content-h3{ 
    font-size: 17px;
    width: 100% !important;
    

}

footer{
    width: 360px!important;
}



}


.content-h1{
    display: flex;
    color:$kolor-font;
    font-weight: 900;
    
    

}

.content-h2{
    display: flex;
    color:$kolor-font;
    font-weight: 700;   
    
    

}

.content-h3{
    display: flex;
    color:$kolor-font;
    width:80%;
    
   

}


/* FOOTER */

footer{
    display: flex;
    position: fixed;
    justify-content: center;
    text-align: center;
    bottom: 0;
    width: 100%;
    max-width: 1366px;
    min-width: 370px;
    
    height:50px;
    
}


.container-footer{

    display: flex;
    justify-content:center;
    align-items: center;
    width: 30%;
    text-align: center;
    
}